// #999600, #FFFB19, #E5E100, #440099, #6600E6

body {
	background-image: linear-gradient(rgb(12, 109, 227), orange);
	width: 100%;
	height: 100%;

}
#main-container {
	position: relative;
}

#title {
	color: white;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 46px;
	position: relative;
	top: 68px;
}

#main-content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 80px;
}

.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 10;
	top: 140px;
	height: 700px;
	width: 800px;
	left: calc(50% - 400px);
	background-image: url(../assets/parchment/parchment.png);
	background-size: 800px 700px;
}

#instructions-text {
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
	width: 420px;
}

#start_button {
	align-self: center;
	font-family: 'Kaushan Script', cursive;
	margin-top: 20px;
	font-size: 40px;
	margin-left: 60px;
	padding: 14px;
	background-color: darkbeige;
}

#start_button:hover {
	color: red;
	cursor: pointer;
}

#left-column {
	display: flex;
	align-items: row;
	width: 140px;
	border: black;
	background-color: gray;
	border-style: solid;
	box-shadow: 8px 3px 11px black;
}

#left-shadow {
	position: relative;
	left: 60px;
	top: 104px;
	height: 553px;
	width: 10px;
	background-color: dimgray;
}

#letter_a {
	position: relative;
	background-image: url(./../assets/wasd/a-keyboard-button.png);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	top: 170px;
	right: 210px;
	background-color: grey;
}

#letter_d {
	position: relative;
	background-image: url(./../assets/wasd/d_md.png);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	left: 58px;
	bottom: 32px;
	background-color: grey;
}

#letter_c {
	position: relative;
	background-image: url(./../assets/wasd/c_key_final.png);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	top: 168px;
	right: 96px;
	background-color: grey;
}


#jump_text {
	position: relative;
	bottom: 22px;
	left: 30px;
	font-family: 'Kaushan Script', cursive;
	
}

#spacebar {
	position: relative;
	background-image: url(./../assets/wasd/spacebar-md.png);
	background-size: 110px 50px;
	height: 50px;
	width: 110px;
	bottom: 12px;;
	background-color: grey;
}

#attack_text {
	position: relative;
	right: 142px;
	top: 150px;
	font-family: 'Kaushan Script', cursive;
}

#space_text {
	position: relative; 
	bottom: 43px;
	left: 20px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-family: bold;
	font-weight: 800;
}

#left_text {
	position: relative;
	bottom: 20px;
	font-family: 'Kaushan Script', cursive;
	left: 9px;
}

#right_text {
	position: relative;
	bottom: 35px;
	font-family: 'Kaushan Script', cursive;
	left: 63px;
}

#right-shadow {
	position: relative;
	left: 60px;
	top: 104px;
	height: 553px;
	width: 10px;
	background-color: dimgray;
}

#right-column {
	width: 140px;
	border: black;
	background-color: gray;
	border-style: solid;
	box-shadow: 8px 3px 11px black;
}

#right-window {
	position: relative;
	right: 94px;
	top: 16px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.spire {
	position: relative;
	width: 0;
	height: 0;
	border-left: 111px solid transparent;
	border-right: 111px solid transparent;
	border-bottom: 111px solid black;
	bottom: 90px;
	right: 40px;

}
.inner-spire {
	position: relative;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid grey;
	right: 100px;
	top: 6px;
}

#castle_door {
	position: relative;
	background-image: url(./../assets/door/castle_door.png);
	height: 170px; 
	width: 200px; 
	background-size: 200px 170px;
	right: 34px;
	top: 300px;
}
.window {
	height: 90px;
	width: 90px;
}

#left-window {
	position: absolute;
	right: -50px;
	top: 120px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#bottom {
	position: relative;
	padding-bottom: 2px;
	height: 320px;
	background-color: gray;
	border-top: 3px solid black;
	bottom: 10px;
}

#castle-door {
	position: relative;
	height: 150px;
	top: 510px;
	right: 140px;
}

#linkedin {
 position: relative;
 top: 100px;
 left: 60px;
}

#topgrass {
	height: 4px;
	background-color: darkgreen;
}

#grass {
	height: 40px;
	background-color: green;
}

#dirt {
	height: 20px;
	background-color: #654321;
}

#dark_cement {
	height: 14px;
	background-color: DimGray;
}

#moss {
	height: 4px;
	background-color: darkgreen;
}

#right-tree {
	position: absolute;
	height: 300px;
	bottom: 290px;
	left: 10px;
	z-index: 1;

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#left-tree {
	position: absolute;
	height: 300px;
	bottom: 280px;
	left: 60px;
	z-index: 2;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#bottom-text-area {
	position: relative;
	top: 40px;
	height: 220px;
	background-color: grey;
}

#walkway-parent {
	display: flex;
	justify-content: center;
	background-color: blue;
}

#walkway {
	border-bottom: 200px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 600px;
}

#walkway-border {
	position: relative;
	border-bottom: 200px solid #555;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 594px;
  right: 46px;
}


